<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/community_layout}">

<head>
    <title>그룹 생성</title>
</head>

<div class="flex-column-center wrapper" layout:fragment="content">
    <div class="container">
        <div class="content-header">
            <h1>새 그룹 생성</h1>
            <span>새로운 그룹을 생성합니다.</span>
        </div>
        <div class="narrow-content-body">
            <div class="element-area">
                <span class="custom-input-label">그룹명</span>
                <input class="form-control"
                       id="js-group-name"
                       placeholder="생성할 그룹명을 입력하세요.">
            </div>
            <div class="element-area">
                <span class="custom-input-label">그룹 소개</span>
                <input class="form-control"
                       id="js-group-description"
                       placeholder="그룹 소개를 작성하세요.">
            </div>
            <div class="element-area">
                <span class="custom-input-label">URL</span>
                <input class="form-control"
                       id="js-group-url"
                       placeholder="사용할 URL 경로명을 입력하세요.">
                <span class="custom-input-label">https://conmoto.site/community/{여기에 들어갈 URL}</span>
                <span class="custom-input-label">해당 주소가 그룹의 고유 주소가 됩니다.</span>
            </div>
            <div class="element-area">
                <span class="custom-input-label">내 닉네임</span>
                <input class="form-control"
                       id="js-group-nickname"
                       placeholder="그룹에서 사용할 닉네임을 입력하세요.">
            </div>
            <div class="flex-space-between">
                <button class="manage-menu-button warn" type="button" onclick="location.href='/community'">취소</button>
                <button class="manage-menu-button default" type="button" onclick="createGroup()">생성</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/group/group-create.js}"></script>
</div>
</html>