<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title th:text="|${groupInfo.name} - 그룹 관리|"></title>
</head>
<div class="flex-column-center wrapper" layout:fragment="content">
    <div class="container">
        <div class="content-header">
            <h1 th:text="|${groupInfo.name} - 그룹 관리|"></h1>
            <span>해당 그룹 정보를 변경할 수 있습니다.</span>
            <div class="margin-top-10">
                <button type="button" class="default-style-btn default" onclick="openInviteModal()">멤버 초대</button>
                <button type="button" class="default-style-btn default" onclick="moveToMemberManagePage()">멤버 관리
                </button>
                <button type="button" class="default-style-btn warn" onclick="moveToDeletePage()">그룹 삭제</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="narrow-content-body">
            <div class="element-area">
                <label class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text">그룹명 수정</span>
                    </div>
                    <input class="form-control" id="group-info-name" th:value="${groupInfo.name}">
                </label>
            </div>
            <div class="element-area">
                <label class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text">그룹 설명 수정</span>
                    </div>
                    <input class="form-control" id="group-description" th:value="${groupInfo.description}">
                </label>
            </div>
            <div class="element-area">
                <label class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text">그룹 URL 수정</span>
                    </div>
                    <input class="form-control" id="group-url" th:value="${groupInfo.url}">
                </label>
            </div>
            <div class="element-area flex-space-between">
                <button type="button" class="default-style-btn warn" onclick="location.href='.'">취소</button>
                <button type="button" class="wide-style-btn default" onclick="saveGroupInfo()">저장</button>
            </div>
        </div>
    </div>
    <div id="invite-modal">
        <label class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">계정</span>
            </div>
            <input type="text" class="form-control" placeholder="user@example.com" name="invite-email">
        </label>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/group/group-manage.js}"></script>
</div>
</html>