<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title th:text="|${groupInfo.name} - 그룹 관리|"></title>
    <link rel="stylesheet" th:href="@{/css/group/groupmanage.css}">
</head>
<div class="group-manage-wrapper" layout:fragment="content">
    <div class="container">
        <div class="content-header">
            <h1>그룹 관리</h1>
            <span>해당 그룹 정보를 변경할 수 있습니다.</span>
            <div class="manage-menu-container">
                <button type="button" class="manage-menu-button default" onclick="openInviteModal()">멤버 관리</button>
                <button type="button" class="manage-menu-button default" onclick="moveToMemberManagePage()">카테고리 관리</button>
                <button type="button" class="manage-menu-button default" onclick="moveToCategoryManagePage()">등급 관리</button>
                <button type="button" class="manage-menu-button default" onclick="moveToDeletePage()">가입 관리</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="narrow-content-body">
            <div class="element-area">
                <label for="group-info-name" class="group-info-text">그룹 명</label>
                <input class="form-control" id="group-info-name" th:value="${groupInfo.name}">
                <div class="flex-end">
                    <button class="wide-style-btn default">저장</button>
                </div>
            </div>
            <div class="element-area">
                <label for="group-description" class="group-info-text">그룹 설명</label>
                <input class="form-control" id="group-description" th:value="${groupInfo.description}">
                <div class="flex-end">
                    <button class="wide-style-btn default">저장</button>
                </div>
            </div>
            <div class="element-area">
                <div class="group-info-text">그룹 공개 여부</div>
                <div class="group-menu-radio-wrapper">
                    <label class="group-menu-radio-item">
                        <span>YES</span>
                        <input type="radio" class="group-menu-radio" name="group-open" th:value="${groupInfo.description}">
                    </label>
                    <label class="group-menu-radio-item">
                        <span>NO</span>
                        <input type="radio" class="group-menu-radio" name="group-open" th:value="${groupInfo.description}">
                    </label>
                </div>
            </div>
            <div class="element-area">
                <div class="group-info-text">자동 가입 여부</div>
                <div class="group-menu-radio-wrapper">
                    <label class="group-menu-radio-item">
                        <span>YES</span>
                        <input type="radio" class="group-menu-radio" name="group-auto-join" th:value="${groupInfo.description}">
                    </label>
                    <label class="group-menu-radio-item">
                        <span>NO</span>
                        <input type="radio" class="group-menu-radio" name="group-auto-join" th:value="${groupInfo.description}">
                    </label>
                </div>
            </div>
            <div class="element-area">
                <h3>Dangerous Zone</h3>
                <div>
                    <span class="group-info-text">그룹 삭제</span>
                    <p>그룹을 삭제합니다.</p>
                    <div class="flex-end">
                        <button type="button" class="manage-menu-button warn" onclick="moveToDeletePage()">그룹 삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="invite-modal">
        <label class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">계정</span>
            </div>
            <input type="text" class="form-control" placeholder="user@example.com" name="invite-email">
        </label>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/group/group-manage.js}"></script>
</div>
</html>