<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/community_layout}">
<head>
    <title th:text="|${group.name} - 최근 게시물|"></title>
    <link rel="stylesheet" th:href="@{/css/group/groupmain.css}">
</head>

<div class="group-main-wrapper" layout:fragment="content">
    <div class="container">
        <div class="content-header">
            <h1 th:text="${group.name}">그룹 명</h1>
            <span th:text="${group.description}">그룹 설명</span>
            <div class="group-detail">
                <span th:text="|멤버 수 ${#numbers.formatInteger(group.membersNum, 1, 'COMMA')}명|">멤버 수 1,327명</span>
                <span th:text="|개설일(Since) ${group.since}|">개설일(Since) 2023.02.27</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="group-category-nav">
            <div class="group-main-menu">
                <span id="popular" class="pointer-hover" role="button">🔥한눈에 보기</span>
                <span id="all" class="pointer-hover" role="button">📝전체 게시글</span>
                <span id="notice" class="pointer-hover" role="button">⭐공지사항</span>
            </div>
            <div class="group-write-menu pointer-hover">
                <i class="material-icons-outlined gray" onclick="moveToEditorPage()">edit</i>
            </div>
        </div>
        <div class="narrow-content-body mt-0">
            <ul id="draw-board-container"></ul>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/board/board-util.js}"></script>
    <script th:src="@{/js/group/groupboard.js}"></script>
</div>
</html>