<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/community_layout}">
<head>
    <title th:text="|${appHeader.groupName} - 멤버 관리|"></title>
    <link rel="stylesheet" th:href="@{/css/group/groupmanage.css}">
</head>
<div class="flex-column-center wrapper" layout:fragment="content">
    <div class="container">
        <div class="content-header">
            <h1>멤버 관리</h1>
            <div class="member-manage-description">
                <span>해당 그룹의 멤버 정보를 확인할 수 있습니다.</span>
                <span>멤버 클릭 시 해당 멤버 페이지로 이동됩니다.</span>
                <span>멤버 페이지에서는 등급 변경 및 강제 퇴장이 가능합니다.</span>
            </div>
            <div class="mt-3">
                <div th:text="|전체 멤버 ${#lists.size(members)}명|">멤버 수</div>
                <input class="form-control mt-2" type="text" id="member-search" placeholder="닉네임 혹은 이메일을 검색하세요.">
            </div>
        </div>
    </div>
    <div class="container" style="overflow:hidden; height: 100%">
        <div class="narrow-content-body mt-0">
            <ul class="scrollable none">
                <li class="member-info" th:each="member: ${members}" th:id="|member_${member.id}|">
                    <a role="button" onclick="moveToMemberPage(this.parentNode.id)">
                        <div class="profile">
                            <div class="profile-thumbnail">
                                <img th:src="@{/img/user.svg}" alt="thumbnail" class="profile-thumbnail-img">
                            </div>
                            <div>
                                <div class="js-member-nickname-email" th:text="|${member.nickname} (${member.email})|">닉네임
                                    (이메일)
                                </div>
                                <div class="member-info-detail">
                                    <span class="member-grade" th:text="|등급 ${member.grade}|">등급</span>
                                    <span th:text="|가입일 ${member.joinDate}|">가입일</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/group/member-manage.js}"></script>
</div>
</html>