<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title>Welcome!</title>
</head>

<div class="wrapper" layout:fragment="content">
    <div class="container">
        <div class="content-header">
            <h1 style="font-family: Azonix, sans-serif">Super Space</h1>
            <div class="flex-column">
                <p>새로운 그룹을 만들거나, 그룹에 가입해보세요!</p>
                <p>그룹 관리자에게 내 이메일을 알려주면 그룹에 가입할 수 있습니다.</p>
            </div>
        </div>
        <div class="super-space-contents content"></div>
    </div>
</div>
</html>