.flex-horizon-center {
    display: flex;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.check-box {
    width: auto;
    margin: 5px;
}

.pointer {
    cursor: pointer;
}