<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <th:block th:replace="fragments/script :: scriptFragment"></th:block>
</head>

<body>
<div class="super-space-app">
    <th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>

    <div class="super-space-contents">
        <th:block th:replace="fragments/header :: headerFragment"></th:block>

        <th:block layout:fragment="content"></th:block>
    </div>
</div>
<th:block th:replace="fragments/noty :: notyFragment"></th:block>
</body>
</html>