<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title>내 게시글</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css"
          integrity="sha512-fxF1t7b0mpb/ytjBeSu/OpgXxCVcX5/O8AJGYvHaWmNfi/lYLtttitFK17K4iKBva4iU9dcZ+BIV7dyD/nDdSw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet" th:href="@{/css/board/timeline.css}">
</head>
<div class="flex-column-center wrapper" layout:fragment="content">
    <div class="container content-header">
        <h1>내 게시글</h1>
        <span>내가 작성한 게시글을 확인할 수 있습니다.</span>
        <div class="margin-top-10">
            <button type="button" class="default-style-btn default" onclick="moveToMyPage()">내 정보 수정</button>
            <button type="button" class="default-style-btn default" onclick="moveToMyComment()">내 댓글</button>
            <button type="button" class="default-style-btn warn" onclick="moveToResign()">회원탈퇴</button>
        </div>
    </div>
    <div class="super-space-contents content">
        <div class="scroll-section">
            <div class="container content-body"></div>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"
            integrity="sha512-Yk47FuYNtuINE1w+t/KT4BQ7JaycTCcrvlSvdK/jry6Kcxqg5vN7/svVWCxZykVzzJHaxXk5T9jnFemZHSYgnw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{/js/board/board-util.js}"></script>
    <script th:src="@{/js/user/myboard.js}"></script>
</div>
</html>