<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/community_layout}">
<head>
    <title>내 알림</title>
    <link rel="stylesheet" th:href="@{/css/community/noty.css}"/>
</head>
<div class="flex-column-center wrapper" layout:fragment="content">
    <div class="container">
        <div class="content-header">
            <h1>내 알림</h1>
            <span>수신받은 알림 메세지를 확인할 수 있습니다.</span>
        </div>
    </div>
    <div class="container">
        <div class="noty-menu-wrapper">
            <div class="noty-menu-inner">
                <button class="noty-menu-button" onclick="onEdit()">편집</button>
            </div>
        </div>
        <div class="narrow-content-body mt-0">
            <ul id="noty-container"></ul>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/user/notypage.js}"></script>
</div>
</html>