<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title>회원탈퇴</title>
</head>
<div class="flex-column-center wrapper" layout:fragment="content">
    <div class="container content-header">
        <h1>회원탈퇴</h1>
        <span>SUPER SPACE 회원을 탈퇴합니다.</span>
        <div class="margin-top-10">
            <button type="button" class="default-style-btn default" onclick="moveToMyPage()">내 정보 수정</button>
            <button type="button" class="default-style-btn default" onclick="moveToMyBoard()">내 게시글</button>
            <button type="button" class="default-style-btn default" onclick="moveToMyComment()">내 댓글</button>
        </div>
    </div>
    <div class="container">
        <div class="narrow-content-body" th:if="${user.expireIn == null}">
            <h3>정말로 회원을 탈퇴하시겠습니까?</h3>
            <p><b><span style="color: red">15일</span>간의 유예기간이 주어집니다.</b></p>
            <p id="today"></p>
            <p id="expire-date"></p>
            <div class="element-area">
                <label class="flex-horizon-center">
                    <span>동의합니다.</span>
                    <input id="agree" type="checkbox" class="check-box">
                </label>
            </div>
            <div class="element-area space-between">
                <button type="button" class="default-style-btn default" onclick="location.href='/workspace'">취소</button>
                <button type="button" class="default-style-btn warn" onclick="resignReq()">탈퇴</button>
            </div>
        </div>
        <div class="narrow-content-body" th:if="${user.expireIn != null}">
            <h3>현재 회원탈퇴 유예기간입니다.</h3>
            <p><b>언제든지 회원탈퇴를 취소할 수 있습니다!</b></p>
            <p th:text="|만료 기간: ${user.expireIn}|"></p>
            <div class="content__body__block space-between">
                <button type="button" class="warn" onclick="location.href='/workspace'">돌아가기</button>
                <button type="button" class="default" onclick="cancelResign()">탈퇴취소</button>
            </div>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/user/resign.js}"></script>
    <script th:src="@{/js/board/board-util.js}"></script>
</div>
</html>