<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>접근 제한 페이지</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

<div class="container center-contents">
    <div class="row">
        <h1 class="title display-5 text-danger"> 사용할 수 없는 페이지입니다 :( </h1>
    </div>
    <div class="links">

        <div class="link">
            <a href="javascript:history.back();"> 이전 화면 </a>
        </div>

    </div>
</div>
</body>
</html>