<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/board.css">
<!--    <link rel="stylesheet" href="../static/css/board.css">-->
</head>
<body>
<div>
    <div class="container">
        <div class="header">
            <div class="header-elements">
                <label>
                    <input type="text" id="title"
                           placeholder="제목을 입력하세요."
                           th:value="${title}">
                </label>
            </div>
            <div class="header-elements">
                <label>
                    <span>상태</span>
                    <select id="status">
                        <option th:selected="${status.name == 'READY'}"
                                value="READY">READY
                        </option>
                        <option th:selected="${status.name == 'PROCEED'}"
                                value="PROCEED">PROCEED
                        </option>
                        <option th:selected="${status.name =='COMPLETE'}"
                                value="COMPLETE">COMPLETE
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <div class="comments">
            <div class="comments-header">
                <span><b>댓글</b></span>
                <button type="button" id="addCommentBtn">댓글작성</button>
            </div>
            <div class="comments-elements" th:each="comment : ${comments}" th:id="*{comment.id}">
                <span class="comment-author" th:text="|작성자 : ${comment.author}|">작성자 : XXX</span>
                <span class="comment-date" th:text="(${comment.date})">(X초 전)</span>
                <button type="button" class="delCommentBtn">삭제</button>
                <button type="button" class="editCommentBtn">수정</button>
                <label style="display: block">
                    <div style="display: inline">내용 :</div>
                    <input readonly class="comment-body" th:value="${comment.body}">
                </label>
            </div>
        </div>
        <div class="contents">
            <div class="contentContainer" th:each="content : ${contents}" th:id="*{content.id}">
                <input class="content"
                       placeholder="내용을 입력하세요."
                       th:value="${content.content}">
                <button type="button" class="delContentsBtn">-</button>
                <button type="button" class="addContentsBtn">+</button>
            </div>
        </div>
    </div>
    <button type="button" id="closeBtn" onclick="moveToPreviousPage()">돌아가기</button>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/updateBoard.js"></script>
<!--<script src="/static/js/updateBoard.js"></script>-->
</html>