<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멤버 관리 페이지</title>
    <style>
        .section {
            margin: 5px 10px;
        }
    </style>
</head>
<body>
<div>
    <div class="section">
        <button type="button" id="expel-btn" onclick="activateExpelMemberBtn()">멤버 강퇴</button>
    </div>
    <div class="section" id="member-table">
        <span>멤버 권한 변경</span>
        <div class="member-info" th:each="member, index: ${members}" th:id="|member_${index.index}|">
            <span id="member-name" th:text="${member.name}">USER</span>
            <span id="member-email" th:text="${member.email}">EMAIL</span>
            <span th:utext="${member.groupRole}">AUTHORITY</span>
            <select id="member-authority">
                <option th:each="authority: ${availableAuth}"
                        th:value="${authority}"
                        th:text="${authority}">
                    권한
                </option>
            </select>
        </div>
    </div>
    <div class="section">
        <button type="button" onclick="save()">저장</button>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="../static/js/fetch.js"></script>
<script src="/js/fetch.js"></script>
<script>
    async function save() {
        const url = baseUrl + "/api/group/member?groupUrl=" + groupUrl;
        const request = [];
        const members = document.getElementsByClassName("member-info");
        for (let member of members) {
            const email = member.children.item(1).outerText;
            const authority = member.lastElementChild.value;
            request.push({
                email: email,
                groupRole: authority
            });
        }

        const success = await post(url, request);
        if (success) {
            alert("변경 사항이 반영되었습니다.")
        }
    }

    async function expelMember(element) {
        const url = baseUrl + "/api/group/member?groupUrl=" +groupUrl;
        const memberInfo = element.parentElement;
        const email = memberInfo.children.item(1).outerText;
        const request = {email: email};

        const success = await del(url, request);
        if (success) {
            const name = memberInfo.firstElementChild.outerText;
            alert(name + " 사용자가 그룹에서 추방되었습니다.")
        }
    }

    function activateExpelMemberBtn() {
        const element = $('.member-info');
        const button = document.createElement("button");
        button.setAttribute("type", "button");
        button.setAttribute("class", "checkExpel");
        button.setAttribute("onclick", "expelMember(this)");
        button.innerHTML = "강퇴";
        element.append(button);

        $('#expel-btn')
            .html("멤버 강퇴 취소")
            .attr("onclick", "cancelExpelMemberBtn()");
    }

    function cancelExpelMemberBtn() {
        $('.checkExpel').remove();
        $('#expel-btn')
            .html("멤버 강퇴")
            .attr("onclick", "activateExpelMemberBtn()");
    }
</script>
</html>