label {
    margin: 0 !important;
}

.toastui-editor-contents h1 {
    font-size: 32px !important;
}

.toastui-editor-contents h2 {
    font-size: 24px !important;
}

.toastui-editor-contents h3 {
    font-size: 20px !important;
}

.toastui-editor-contents h4 {
    font-size: 1em !important;
}

.toastui-editor-contents p {
    font-size: 16px !important;
}

.toastui-editor-contents a {
    text-decoration: none !important;
    color: black !important;
}

.toastui-editor-contents {
    padding-bottom: 50px !important;
}

.scroll-frame {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    overflow: hidden;
}

.wrapper label {
    width: 90%;
}

/*header*/
.board__header {
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
}

.board__header button {
    border-radius: 3px;
}

.board-history {
    transition: all 100ms ease-in 0s;
}

.board-history:hover {
    background-color: #86ceea;
    color: white;
}

.board-delete {
    transition: all 100ms ease-in 0s;
}

.board-delete:hover {
    background-color: #FF4A45;
    color: white;
}

.header-elements {
    display: flex;
    align-items: center;
    margin: 5px 0 10px 5px;
    border-radius: 5px;
}

.header-elements * {
    background-color: rgba(255, 255, 255, 0);
}

.header-elements label {
    transition: background-color 20ms ease-in 0s;
}

.header-elements label:hover {
    background: rgba(55, 53, 47, 0.03);
}

.header-elements .name {
    width: 100px;
    display: inline-block;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.board-title {
    width: 100%;
    font-size: 40px;
    font-weight: 700;
}

.board-description {
    width: 100%;
}

.header-elements .select {
    border: none;
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 6px;
    line-height: 30px;
}

/*comments*/
.comments {
    border-top: 1px solid rgba(0, 0, 0, 10%);
    padding-top: 5px;
    padding-bottom: 5px;
}

.comments-header {
    align-content: center;
    margin: 5px 5px 10px;
}

.toggle-comment-btn {
    float: right;
}

.toggle-comment-btn:focus {
    outline: none;
}

.comment-date {
    font-size: 12px;
    color: #6c757d;
}

.comment-body:focus {
    outline: none;
}

.comment-list {
    list-style: none;

}

.comment-item {
    position: relative;
    border-top: 1px solid #f2f2f2;
}

.comment-area {
    position: relative;
    padding: 12px 23px 10px 20px;
}

.comment-nick-box {
    font-weight: 500;
    margin-bottom: 4px;
}

.comment-text-box {
    position: relative;
    font-size: 13px;
    box-sizing: border-box;
}

.comment-info-box {
    margin-top: 7px;
    font-size: 12px;
    color: #979797;
}

.comment-tool {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
}

.comment-writer {
    padding: 8px 10px 5px 18px;
    margin: 5px 0;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-sizing: border-box;
}

.comment-inbox {
    position: relative;
    margin-bottom: 10px;
}

.comment-inbox-name {
    margin-bottom: 10px;
    font-weight: 500;
}

.comment-inbox-text {
    overflow: hidden scroll;
    overflow-wrap: break-word;
    line-height: normal;
    height: 21px;
    max-height: 500px;
    width: 100%;
    min-height: 21px;
    padding-right: 1px;
    border: 0;
    font-size: 13px;
    resize: none;
    box-sizing: border-box;
    outline: 0;
}

.comment-attach {
    position: relative;
    height: 30px;
}

.comment-register {
    float: right;
}

.contents {
    margin-top: 10px;
    padding: 0 10px 10px;
}

.ck5-editor-wrapper {
    border-left: 1px solid #ccced1 !important;
    border-right: 1px solid #ccced1 !important;
    border-bottom: 1px solid #ccced1 !important;
}

.ck5-editor {
    min-height: 400px;
    max-height: calc(100vh - 180px);
    position: relative;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    border: none !important;
    box-shadow: none !important;
}

/*etc*/
.simple-button {
    padding: 3px 5px;
    margin: 0;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.app-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: rgb(250 248 254);
}

@media (min-width: 768px) {
    .app-footer {
        width: calc(100vw - 260px);
    }
}

@media (max-width: 768px) {
    .app-footer {
        width: 100%;
    }
}

.option-btn {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border: 1px solid #d0d0d0;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
}

.highlight-btn {
    color: rgb(119, 87, 235);
    background-color: rgb(246, 242, 253);
    box-shadow: rgb(15 15 15 / 10%) 0 1px 2px, rgb(129 87 235 / 30%) 0 0 0 1px inset;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
}

.app-footer .btn-wrapper-right {
    padding-right: 35px;
}

.app-footer .btn-wrapper-left {
    padding-left: 35px;
}

@media (max-width: 768px) {
    .app-footer .btn-wrapper-right {
        padding-right: 10px;
    }

    .app-footer .btn-wrapper-left {
        padding-left: 10px;
    }
}

/* modal */
.modal-dimmed {
    position: fixed;
    z-index: 100;
    background-color: rgba(245, 242, 255, 0.4);
    inset: 0;
}

.modal-layout {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    min-width: 300px;
    background-color: #fff;
    box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 3%), 0 -5px 13px 0 rgb(0 0 0 / 4%);
}

.modal-inner {
    width: calc(80%);
    min-width: 300px;
    margin: 0 auto;
    padding-top: 25px;
}

.temp-save-wrapper {
    overflow: hidden scroll;
}

@media (max-width: 768px) {
    .temp-save-wrapper {
        height: 300px;
    }
}

@media (min-width: 768px) {
    .temp-save-wrapper {
        height: 400px;
    }
}

.temp-save-element {
    display: flex;
    flex-wrap: wrap;
}

.temp-save-element:hover {
    text-decoration: underline;
}

.temp-save-date {
    width: 180px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .header-elements {
        margin: 5px 0 0 5px;
    }

    .header-elements .name {
        font-size: 1rem;
        padding: 0;
    }

    .header-elements .select {
        font-size: 1rem;
    }

    .board-title {
        font-size: 1.5rem;
    }
}

.ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label {
    width: 3rem !important;
}

.like-wrapper {
    padding: 15px;
}

.like-inner {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 20%);
    border-radius: 5px;
    width: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


.like-text {
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
}

.like-color {
    color: #ff5656 !important;
}