<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8"/>
<!--        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

        <title>타이틀</title>

        <link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" th:href="@{/css/workspace.css}">
        <link rel="stylesheet" th:href="@{/css/sidebar.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/noty.css}">

    </head>
</th:block>
</html>