<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="noty" class="ui-dialog" th:fragment="notyFragment">
    <div id="noty-container">
        <div class="noty">
            <div id="profile">프로필</div>
            <div class="noty-content">
                <div class="noty-header">
                    <div>상대방</div>
                    <div>시간</div>
                </div>
                <div class="message">내용</div>
            </div>
        </div>
    </div>
</div>
</html>