<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="scriptFragment">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script th:src="@{/js/fetch.js}"></script>
    <script th:src="@{/js/sse_noty.js}"></script>
    <script th:src="@{/js/workspace.js}"></script>
<!--    <script th:src="@{/js/myinfo.js}"></script>-->
</th:block>
</html>