<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width" charset="UTF-8">
    <title>SUPER SPACE</title>
    <link rel="stylesheet" th:href="@{/css/sign-style.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:src="@{/js/util/fetch.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
<div class="display">
    <img th:src="@{/img/logo.jpg}" alt="SUPER SPACE" id="logo">
    <form id="sign_in">
        <div class="container">
            <label class="form__element">
                <b>이메일</b>
                <input type="text"
                       placeholder="이메일을 입력해주세요."
                       id="email"
                       name="username"
                       required
                       autofocus>
            </label>

            <label class="form__element">
                <b>비밀번호</b>
                <input type="password"
                       placeholder="패스워드를 입력해주세요."
                       id="password"
                       name="password"
                       required>
            </label>

            <button type="button" onclick="formSubmit()">로그인</button>
            <label>
                <input type="checkbox"
                       checked="checked"
                       id="rememberMe"
                       name="remember-me">
                자동 로그인
            </label>
        </div>

        <div class="support">
            <div><a th:href="@{/signup}">회원가입</a></div>
            <div><a th:href="@{/reset}">비밀번호를 잊어버리셨나요?</a></div>
        </div>
    </form>
</div>
</body>
</html>