<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" th:href="@{/css/sign-style.css}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<h1>Mockup만 있는 페이지입니다.</h1>
<h2>인증번호 확인 시 임시 비밀번호가 발급됩니다.</h2>
<form id="sign_up">
    <div class="container">
        <label class="form__element">
            <b>가입한 이메일</b>
            <button class="duplicate-check"
                    type="button"
                    onclick=sendOTP()>
                인증번호 전송
            </button>
            <input type="text"
                   placeholder="가입한 이메일을 입력해주세요."
                   id="email"
                   name="email"
                   required>
        </label>

        <label class="form__element">
            <b>인증번호</b>
            <button class="duplicate-check"
                    type="button"
                    onclick=validateOTP()>
                인증번호 확인
            </button>
            <input type="text"
                   placeholder="이메일에 전송된 인증번호를 입력하세요."
                   id="otp"
                   name="otp"
                   required>
        </label>
    </div>

    <div class="support">
        <button type="button" class="cancel-btn" onclick="location.href='/'">취소</button>
    </div>
</form>
</body>
<script>
    let otp;

    function sendOTP() {
        otp = generateOTP();
        alert("OTP: " + otp);
    }

    function validateOTP() {
        const inputOtp = $('#otp').val();
        console.log(otp + " " + inputOtp);
        if (otp === inputOtp) {
            const newPassword = generateOTP();
            const ok = confirm("새로운 비밀번호: " + newPassword);
            if (!ok) {
                alert("임시 비밀번호를 잃어버리면 재인증해야합니다.\n" +
                    "아래 비밀번호를 복사해주세요.\n" +
                    "새로운 비밀번호: " + newPassword);
            }
        } else {
            alert("인증번호가 틀렸습니다. 다시 확인해주세요");
        }
    }

    function generateOTP() {
        return Math.random().toString(36).substring(2, 11);
    }
</script>
</html>