<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConMoto - 회원가입</title>
    <link rel="stylesheet" th:href="@{/css/home/sign-style.css}"/>
</head>
<body class="container">
<header class="header-box">
    <div class="header flex-space-between">
        <div class="logo">
            <a href="/"><img class="logo" th:src="@{/img/logo.png}" alt="conmoto-logo"></a>
        </div>
    </div>
</header>
<main>
    <div style="width: 100%">
        <section style="padding: 0 40px; margin: 0 auto;">
            <div style="width: 100%; max-width: 960px; margin: 0 auto">
                <div class="login-box">
                    <div class="login-text">회원가입</div>
                    <div class="conmoto-login">
                        <div class="flex-column" style="width: 100%">
                            <div>
                                <form onsubmit="return false;">
                                    <label for="email" class="input-label">이메일</label>
                                    <div class="input-box">
                                        <input type="text"
                                               placeholder="이메일을 입력해주세요."
                                               id="email"
                                               name="username"
                                               required
                                               autofocus>
                                    </div>
                                    <div class="js-sign-up-description"></div>
                                    <div class="submit-box" type="button" onclick="formSubmit()">회원가입</div>
                                </form>
                            </div>
                            <div class="separate-area">
                                <div role="separator" class="horizon-bar"></div>
                            </div>
                            <div>
                                <div class="sso-login">Google로 계속하기</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<div class="script">
    <script th:src="@{/js/util/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/home/signup.js}"></script>
</div>
</body>
</html>