<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="account" class="ui-dialog" th:fragment="accountFragment">
    <div class="account">
        <div class="account-sidebar">
            <div class="account__menu">
                <div class="menu__option">계정</div>
                <div class="menu__option">그룹</div>
                <div class="menu__option">알림</div>
                <div class="menu__option">게시글</div>
                <div class="menu__option">댓글</div>
            </div>
        </div>
        <div class="account__body">
            <!--모달은 추후 업데이트 시 추가-->
        </div>
    </div>
</div>
</html>