<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="app-header" th:fragment="headerFragment">
    <div class="header-box">
        <div class="header-left">
            <i id="js-sidebar-expand-btn" class="material-icons-outlined sidebar-expand" onclick="openSideBar()">menu</i>
            <div class="group-name" th:classappend="${sideBar.member.id == 'anonymous' ? 'anonymous' : ''}"
                 th:text="${appHeader.groupName}" th:attr="onclick=${sideBar.member.id == 'anonymous' ? '' : 'moveToGroupMain()'}">GROUP NAME
            </div>
        </div>
        <div class="header-right">
            <div class="header-noty" th:unless="${role == 'ROLE_ANONYMOUS'}">
                <div class="user-menu">
                    <i id="js-noty-button" class="material-icons-outlined">notifications</i>
                    <span style="font-size: 0.5rem; color: gray;">알림</span>
                </div>
                <span class="noty-count" id="js-noty-count">0</span>
            </div>
            <div class="user-name-wrapper">
                <div class="user-menu" onclick="openUserFloat()" th:unless="${role == 'ROLE_ANONYMOUS'}">
                    <i class="material-icons-outlined">account_circle</i>
                    <span style="font-size: 0.5rem; color: gray">메뉴</span>
                </div>
                <span th:if="${role == 'ROLE_ANONYMOUS'}" onclick="openUserFloat()">로그인</span>
                <div id="user-floating" class="user-float-wrapper">
                    <div class="user-float-inner">
                        <div th:if="${role == 'ROLE_ANONYMOUS'}" class="user-float-menu" onclick="login()">로그인</div>
                        <div th:unless="${role == 'ROLE_ANONYMOUS'}"class="user-float-menu" onclick="openMyAccountModal()">내 계정</div>
                        <div th:unless="${role == 'ROLE_ANONYMOUS'}"class="user-float-menu" onclick="logout()">로그아웃</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>