<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="app-header" th:fragment="headerFragment">
    <div class="header-box">
        <div class="header-left">
            <i class="material-icons sidebar-expand" id="js-sidebar-expand-btn">menu</i>
            <div class="group-name" th:text="${appHeader.groupName}">GROUP NAME</div>
        </div>
        <div class="header-right">
            <div class="header-noty">
                <span id="js-noty-button">알림</span>
                <span class="noty-count" id="js-noty-count">0</span>
            </div>
            <div class="user-name" th:text="${appHeader.userName}">USER NAME</div>
        </div>
    </div>
</div>
</html>