<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="noty" class="ui-dialog" th:fragment="notyFragment" style="display: none">
    <div id="noty-container">
        <div class="js-noty-empty">
            미확인 알림이 존재하지 않습니다.
        </div>
    </div>
    <div id="join-modal" style="display: none">
        <div class="js-join-group"></div>
        <label class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">닉네임</span>
            </div>
            <input type="text" class="js-join-input-text form-control" placeholder="사용하실 닉네임을 적어주세요.">
        </label>
    </div>
</div>
</html>