<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="scriptFragment">
    <div class="common-script">
        <script src="https://static.conmoto.site/files/jquery-3.4.1.min.js"></script>
        <script src="https://static.conmoto.site/files/jquery-ui.min.js"></script>

        <script src="https://unpkg.com/event-source-polyfill@1.0.25/src/eventsource.js"></script>
        <script src="https://static.conmoto.site/files/fetch.js"></script>
        <script src="https://static.conmoto.site/files/sse_noty.js"></script>
        <script src="https://static.conmoto.site/files/community.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </div>
</th:block>
</html>