<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="mobile-sidebar" th:fragment="sideBarFragment">
    <div class="super-space-app__sidebar">
        <div class="sidebar-inner">
            <div class="sidebar" th:with="member = ${sideBar.member}">
                <header>
                    <div id="logo" class="sidebar-section">
                        <a href="/workspace">
                            <img th:src="@{/img/logo.png}" alt="logo" class="conmoto-logo">
                        </a>
                        <div>
                            <i class="material-icons" id="sidebar__fold">first_page</i>
                        </div>
                    </div>
                    <div class="sidebar-section info">
                        <div class="profile">
                            <a href="/user/info" class="profile-thumbnail">
                                <img th:src="@{/img/user.svg}" alt="thumbnail" class="profile-thumbnail-img">
                            </a>
                            <div class="profile-detail" th:if="${member.id != 'anonymous'}">
                                <a href="/user/info" th:text="${member.nickname}">닉네임</a>
                                <span th:text="${member.role}">권한</span>
                                <span th:text="|${member.joinDate} 가입|">가입일</span>
                            </div>
                            <div class="profile-detail" th:if="${member.id == 'anonymous'}">
                                <a th:text="${member.nickname}">닉네임</a>
                            </div>
                        </div>
                        <div class="info-menu">
                            <a class="items">글쓰기</a>
                            <a class="items" href="/user/info"> 내 활동</a>
                            <a class="items" href="/user/noty">알림</a>
                        </div>
                        <div class="group-manage" th:if="${role == 'ROLE_MANAGER'}">
                            <a class="group-menu-button" onclick="moveToGroupManagingPage()">현재 그룹 관리</a>
                        </div>
                    </div>
                </header>
                <div class="sidebar-menu-scroll">
                    <div class="sidebar-section group-list">
                        <header class="sidebar-header">
                            <span>가입한 그룹</span>
                            <i class="material-icons expand md-18 gray">expand_more</i>
                        </header>
                        <main>
                            <ul>
                                <li id="group-container" th:each="group: ${sideBar.groups}">
                                    <div class="sidebar-elements">
                                        <span th:utext="${group.groupName}"
                                              th:onclick="|location.href='@{/workspace/{groupUrl}(groupUrl=${group.groupUrl})}'|">
                                            GROUP NAME
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="group-menu">
                                <a href="#" class="group-menu-button">그룹 가입</a>
                                <a href="/workspace/new" class="group-menu-button">그룹 생성</a>
                            </div>
                        </main>
                    </div>
                    <div class="sidebar-section favorite-category" th:unless="${member.id == 'anonymous'}">
                        <header class="sidebar-header">
                            <span>즐겨찾는 카테고리</span>
                            <i class="material-icons expand md-18 gray">expand_more</i>
                        </header>
                        <main>
                            <ul>
                                <li th:each="category: ${sideBar.categories}" th:if="${category.favorite}">
                                    <div class="sidebar-elements">
                                        <span th:text="${category.name}" onclick="moveToCategoryPage(this)">
                                            GROUP NAME
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </main>
                    </div>
                    <div class="sidebar-section category" th:unless="${member.id == 'anonymous'}">
                        <header class="sidebar-header">
                            <span>카테고리</span>
                            <i class="material-icons expand md-18 gray">expand_more</i>
                        </header>
                        <main>
                            <div id="category-container" th:each="category: ${sideBar.categories}">
                                <div class="sidebar-elements">
                                    <span th:utext="${category.name}" onclick="moveToCategoryPage(this)"></span>
                                </div>
                                <div class="sidebar-elements level2"
                                     th:each="category2: ${category.children}">
                                    <span th:utext="|└ ${category2.name}|"
                                          onclick="moveToCategoryPage(this)"> > TT </span>
                                    <div class="sidebar-elements"
                                         th:each="category3: ${category2.children}">
                                    <span th:utext="|└ ${category3.name}|"
                                          onclick="moveToCategoryPage(this)"> > TT </span>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                    <div class="sidebar-go-top">
                        <div class="group-menu-button">맨위로</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-mobile-dimmed"></div>
</div>
</html>