<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="mobile-sidebar" th:fragment="sideBarFragment">
    <div class="super-space-app__sidebar">
        <div class="sidebar-inner">
            <div class="sidebar" th:with="member = ${sideBar.member}">
                <header>
                    <div id="logo" class="sidebar-section">
                        <a href="/community">
                            <img src="https://static.conmoto.site/images/logo.png" alt="logo" class="conmoto-logo">
                        </a>
                        <div>
                            <i class="material-icons-outlined" id="sidebar__fold">first_page</i>
                        </div>
                    </div>
                    <div class="sidebar-section info">
                        <div class="profile">
                            <div class="profile-thumbnail">
                                <img src="https://static.conmoto.site/images/user.svg" alt="thumbnail" class="profile-thumbnail-img">
                            </div>
                            <div class="profile-detail" th:if="${member.id != 'anonymous'}">
                                <span id="member" th:attr="data-member-id=${member.id}"
                                      th:text="${member.nickname}">닉네임</span>
                                <span th:text="${member.grade}">등급</span>
                                <span th:text="|${member.joinDate} 가입|">가입일</span>
                            </div>
                            <div class="profile-detail" th:if="${member.id == 'anonymous'}">
                                <span th:text="${member.nickname}">닉네임</span>
                            </div>
                        </div>
                        <div class="info-menu" th:unless="${member.id == 'anonymous'}">
                            <a class="items" role="button" onclick="goToEditor()">글쓰기</a>
                            <span th:id="${member.id}" class="items" onclick="moveToMemberPage(this)">내 활동</span>
                            <a class="items" href="/community/noty">알림</a>
                        </div>
                        <div class="group-manage" th:if="${role == 'ROLE_MANAGER'}"> <!--그룹 관리자일시 관리버튼 활성화-->
                            <a role="button" class="group-menu-button" onclick="moveToGroupManagingPage()">현재 그룹 관리</a>
                        </div>
                        <div class="group-manage" th:unless="${member.id == 'anonymous'}"> <!--그룹 멤버일시 초대버튼 활성화-->
                            <a role="button" class="group-menu-button" onclick="openInviteModal()">그룹 초대</a>
                        </div>
                        <div class="group-manage" th:if="${groupPage && member.id == 'anonymous'}">
                            <!--그룹 멤버가 아닐 시 가입버튼 활성화-->
                            <a role="button" class="group-menu-button" onclick="moveToGroupJoinPage()">그룹 가입</a>
                        </div>
                    </div>
                </header>
                <div class="sidebar-menu-scroll">
                    <div class="sidebar-section group-list">
                        <header class="sidebar-header">
                            <span>가입한 그룹</span>
                            <i class="material-icons-outlined expand md-18 gray">expand_more</i>
                        </header>
                        <main>
                            <ul class="none">
                                <li id="group-container" th:each="group: ${sideBar.groups}">
                                    <div class="sidebar-elements pointer-hover">
                                        <span style="width: 100%" onclick="moveToGroup(this)" th:attr="data-url=${group.groupUrl}"
                                              th:utext="${group.groupName}">
                                            GROUP NAME
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="group-menu">
                                <a href="/community/new" class="group-menu-button">그룹 생성</a>
                            </div>
                        </main>
                    </div>
                    <div class="sidebar-section favorite-category" th:if="${groupPage}">
                        <header class="sidebar-header">
                            <span>즐겨찾는 카테고리</span>
                            <i class="material-icons-outlined expand md-18 gray">expand_more</i>
                        </header>
                        <main>
                            <ul id="favorite-category-list" class="none">
                                <li th:each="category: ${sideBar.categories}" th:if="${category.favorite}">
                                    <div class="sidebar-elements pointer-hover">
                                        <span style="width: 100%" th:text="${category.name}" onclick="moveToCategoryPage(this)">
                                            즐겨찾는 카테고리 명
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </main>
                    </div>
                    <div class="sidebar-section category" th:if="${groupPage}">
                        <header class="sidebar-header">
                            <span>전체 카테고리</span>
                            <i class="material-icons-outlined expand md-18 gray">expand_more</i>
                        </header>
                        <main>
                            <div id="category-container">
                                <span>기본 카테고리</span>
                                <div class="default-category">
                                    <div class="sidebar-elements pointer-hover">
                                        <span style="width: 100%" onclick="moveToMainPage(this)">🔥한눈에 보기</span>
                                    </div>
                                    <div class="sidebar-elements pointer-hover">
                                        <span style="width: 100%" onclick="moveToMainPage(this)">📝전체 게시글</span>
                                    </div>
                                    <div class="sidebar-elements pointer-hover">
                                        <span style="width: 100%" onclick="moveToMainPage(this)">⭐공지사항</span>
                                    </div>
                                </div>
                                <span>일반 카테고리</span>
                                <div class="custom-category">
                                    <div class="sidebar-elements" th:each="category: ${sideBar.categories}"
                                         th:unless="${category.type} == 'NOTICE'"
                                         th:classappend="${category.type} == 'CATEGORY_GROUP' ? 'js-category-group' : 'pointer-hover'"
                                         th:attr="data-fold=${category.fold}">
                                        <div class="sidebar-category-group"
                                             th:if="${category.type == 'CATEGORY_GROUP'}">
                                            <span th:text="${category.name}">카테고리 그룹 명</span>
                                            <i class="js-category-expand material-icons-outlined md-18 gray">expand_more</i>
                                        </div>
                                        <div th:if="${category.indent}" style="width: 100%">
                                            <span>└</span>
                                            <span th:id="${category.id}" th:if="${category.type == 'BASIC'}"
                                                  th:utext="${category.name}" class="js-category-name"
                                                  onclick="moveToCategoryPage(this)"></span>
                                        </div>
                                        <span th:id="${category.id}" th:unless="${category.indent}"
                                              th:if="${category.type == 'BASIC'}" th:utext="${category.name}"
                                              class="js-category-name" onclick="moveToCategoryPage(this)"></span>
                                        <div th:unless="${category.type == 'CATEGORY_GROUP' || role == 'ROLE_ANONYMOUS'}"
                                             class="flex-vertical-center">
                                            <i class="material-icons-outlined favorite-color"
                                               th:text="${category.favorite} ? 'star' : 'star_border'"
                                               onclick="requestFavoriteCategory(this)">star</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                    <div class="sidebar-go-top">
                        <div class="group-menu-button">맨위로</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-mobile-dimmed"></div>
</div>
</html>