<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="styleFragment">
    <head>
        <meta charset="UTF-8"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/util/jquery-ui.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/util/material-icons.css}"/>
        <link rel="stylesheet" th:href="@{/css/community/community.css}">
        <link rel="stylesheet" th:href="@{/css/community/noty.css}">
        <link rel="stylesheet" th:href="@{/css/common/common.css}">
        <link rel="stylesheet" th:href="@{/css/util/bootstrap.css}">
    </head>
</th:block>
</html>