<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="styleFragment">
    <head>
        <meta charset="UTF-8"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/material-icons.css}"/>
        <link rel="stylesheet" th:href="@{/css/workspace.css}">
        <link rel="stylesheet" th:href="@{/css/sidebar.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/noty.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    </head>
</th:block>
</html>