.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    padding: 0 12px;
}

.header__left {
    display: flex;
    line-height: 1.5;
}

#group-name {
    display: inline-flex;
}

#user-name {
    display: inline-flex;
}

#noty-count {
    color: white;
    background-color: #e4606d;
    border-radius: 15px;
    padding: 0 7px;
}

#noty-button {
    cursor: pointer;
}