body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: auto;
}

h2 {
    text-align: center;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    background-color: #f1f1f1;
}

.support > div {
    margin-top: 5px;
}

#sign_in {
    width: 500px;
    margin: 0 auto;
    align-items: center;
}

#logo {
    display: flex;
    margin: 0 auto;
}