.ui-dialog-titlebar {
    background-color: white;
    border: none;
}

.ui-dialog-titlebar-close {
    display: none;
}

.noty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 2px 2px gray;
    margin-bottom: 10px;
}

.noty.full-size {
    width: 100%;
}

.noty__header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.noty__profile {
    display: flex;
    justify-content: center;
    width: 60px;
    margin: 5px;
    padding: 15px 0;
    border: 1px solid;
    border-radius: 3px;
}

.noty__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message {
    margin: 5px;
    white-space: pre-line;
}

#noty {
    display: flex;
    justify-content: center;
}

#noty__option a {
    margin-right: 3px;
    cursor: pointer;
}

.noty-content-body {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}