.container {
    width: 550px;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid #6c757d;
}

.option {
    display: inline-block;
    width: 60px;
    align-items: center;
    text-align: center;
    vertical-align: top;
    margin-top: 10px;
}

.option > button {
    width: 50px;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    background-color: white;
    color: red;
    opacity: 0.5;
    cursor: pointer;
}

.content-body {
    width: 480px;
    display: inline-block;
}