#super-space-app__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 100vh;
    background-color: rgb(251, 251, 250);
}

.sidebar {
    width: 240px;
    display: flex;
    flex-direction: column;
}

#super-space__title {
    font-family: Azonix, sans-serif;
    color: rgb(190 145 231);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.sidebar-header i {
    cursor: pointer;
}

.sidebar-section {
    display: flex;
    flex-flow: column;
    padding: 2px 14px;
    justify-content: left;
}

.sidebar-section .items {
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}

#logo {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

#info {
    min-height: 150px;
}

#group-list {
    min-height: 200px;
}

.sidebar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    cursor: pointer;
}

.level2 {
    padding-left: 15px;
}

#sidebar__fold {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    color: #80808099;
    opacity: 0;
}

#sidebar__expand {
    display: none;
    margin-right: 5px;
}

