<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title>내 알림</title>
    <link th:href="@{/css/noty.css}"/>
    <script th:src="@{/js/notypage.js}"></script>
</head>
<div class="flex-column-center wrapper" layout:fragment="content">
    <div class="content__header">
        <h1>내 알림</h1>
        <span>수신받은 알림 메세지를 확인할 수 있습니다.</span>
    </div>
    <div class="content__body">
        <div class="noty full-size">
            <div class="profile">프로필</div>
            <div class="noty-content">
                <div class="noty-header">
                    <div>상대방</div>
                    <div class="time">시간</div>
                </div>
                <div class="message">내용</div>
            </div>
        </div>
    </div>
</div>
</html>