<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title>회원탈퇴</title>
    <script th:src="@{/js/resign.js}"></script>
    <script th:src="@{/js/board-util.js}"></script>
</head>
<div class="flex-column-center wrapper" layout:fragment="content">
    <div class="content__header">
        <h1>회원탈퇴</h1>
        <span>SUPER SPACE 회원을 탈퇴합니다.</span>
        <div class="margin-top-10">
            <button type="button" class="default" onclick="moveToMyPage()">내 정보 수정</button>
            <button type="button" class="default" onclick="moveToMyBoard()">내 게시글</button>
            <button type="button" class="default" onclick="moveToMyComment()">내 댓글</button>
        </div>
    </div>
    <div class="content__body">
        <h3>정말로 회원을 탈퇴하시겠습니까?</h3>
        <p><b><span style="color: red">15일</span>간의 유예기간이 주어집니다.</b></p>
        <p id="today"></p>
        <p id="expire-date"></p>
        <div class="content__body__block">
            <label class="flex-horizon-center">
                <span>동의합니다.</span>
                <input id="agree" type="checkbox" class="check-box">
            </label>
        </div>
        <div class="content__body__block space-between">
            <button type="button" class="default" onclick="location.href='/workspace'">취소</button>
            <button type="button" class="warn" onclick="resignReq()">삭제</button>
        </div>
    </div>
</div>
</html>