<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/community_layout}">
<head>
    <title th:text="|${appHeader.groupName} - ${category.name}|">Title</title>
    <link rel="stylesheet" th:href="@{/css/group/groupmain.css}">
</head>
<div class="wrapper" layout:fragment="content">
    <div class="container">
        <div class="content-header">
            <h1 th:text="${category.name}">카테고리명</h1>
            <div class="space-between">
                <span th:text="${category.description}">소개글</span>
                <button class="new-board" onclick="goToEditor()">새 글 만들기</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="narrow-content-body mt-0">
            <ul id="draw-board-container" class="none" th:attr="data-category-id=${category.id}"></ul>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/board/board-util.js}"></script>
    <script th:src="@{/js/category/categoryboard.js}"></script>
</div>
</html>