<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title th:text="${board.title}"></title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script th:src="@{/js/board/updateBoard.js}"></script>
</head>
<div class="wrapper" layout:fragment="content">
    <div class="container">
        <div class="board__header">
            <div class="flex-end">
                <div>
                    <button type="button" class="simple-button">변경이력</button>
                    <button type="button" class="simple-button" onclick="deleteBoard()">삭제</button>
                </div>
            </div>
            <div class="header-elements">
                <label>
                    <input type="text" id="title"
                           placeholder="제목을 입력하세요."
                           th:value="${board.title}">
                </label>
            </div>
            <div class="header-elements">
                <label>
                    <input type="text" id="description"
                           placeholder="설명을 입력하세요."
                           th:value="${board.description}">
                </label>
            </div>
            <div class="header-elements">
                <label>
                    <span style="width: 100px">카테고리</span>
                    <select class="select" id="categoryOption">
                        <option th:selected="${board.categoryName == null}">카테고리 미선택</option>
                        <option th:each="category : ${sideBar.categories}"
                                th:value="${category.categoryId}"
                                th:text="${category.name}"
                                th:selected="${category.name == board.categoryName}">카테고리
                        </option>
                    </select>
                </label>
            </div>
            <div class="header-elements">
                <label>
                    <span>상태</span>
                    <select class="select" id="status">
                        <option th:selected="${board.status == 'READY'}"
                                value="READY">READY
                        </option>
                        <option th:selected="${board.status == 'PROCEED'}"
                                value="PROCEED">PROCEED
                        </option>
                        <option th:selected="${board.status =='COMPLETE'}"
                                value="COMPLETE">COMPLETE
                        </option>
                    </select>
                </label>
            </div>
            <div class="header-elements">
                <label id="tags" class="flex-horizon-center">
                    <span>태그</span>
                    <span class="flex-horizon-center" th:each="tag : ${board.tags}">
                        <input class="tag" th:id="|tag_${tag.id}|" th:value="|${tag.tag}|">
                        <i class="pointer material-icons delete md-16 gray">delete</i>
                    </span>
                    <input class="tag" placeholder="#태그 추가">
                </label>
            </div>
        </div>
        <div class="comments">
            <div class="comments-header">
                <span><b>댓글</b></span>
                <button type="button" id="addCommentBtn">댓글작성</button>
            </div>
            <div class="comments-elements" th:each="comment : ${board.comments}" th:id="*{comment.id}">
                <span class="comment-author" th:text="|작성자 : ${comment.author}|">작성자 : XXX</span>
                <span class="comment-date" th:text="(${comment.uploadTime})">(X초 전)</span>
                <button type="button" class="delCommentBtn">삭제</button>
                <button type="button" class="editCommentBtn">수정</button>
                <label>
                    <textarea class="comment-body" readonly th:text="${comment.comment}"></textarea>
                </label>
            </div>
            <div class="comments-elements" th:if="${#lists.size(board.comments) < 1}">
                <span>작성된 댓글이 없습니다.</span>
            </div>
        </div>
        <div class="contents">
            <div class="contentContainer" th:each="content : ${board.contents}" th:id="*{content.contentId}">
                <textarea class="content"
                          placeholder="내용을 입력하세요."
                          th:text="${content.content}">
                </textarea>
                <div class="content__buttons">
                    <button type="button" class="delContentsBtn">-</button>
                    <button type="button" class="addContentsBtn">+</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="closeBtn" onclick="moveToPreviousPage()">돌아가기</button>
</div>
</html>