<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width" charset="UTF-8">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" th:href="@{/css/sign-style.css}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:src="@{/js/util/fetch.js}"></script>
    <script th:src="@{/js/signup.js}"></script>
</head>
<body>
<form id="sign_up">
    <div class="container">
        <label class="form__element">
            <b>이름</b>
            <input type="text"
                   placeholder="주민등록상 이름을 입력해주세요."
                   id="username"
                   name="username"
                   required>
        </label>

        <label class="form__element">
            <b>이메일</b>
            <button class="duplicate-check"
                    type="button"
                    onclick=duplicateCheck()>
                중복체크
            </button>
            <input type="text"
                   placeholder="사용하고 있는 이메일을 입력해주세요."
                   id="email"
                   name="email"
                   required>
        </label>

        <label class="form__element">
            <b>비밀번호</b>
            <input type="password"
                   placeholder="사용할 패스워드를 입력해주세요."
                   id="password"
                   name="password"
                   required>
        </label>

        <label>
            <b>생년월일(선택)</b>
            <input type="date" id="birthday" name="birthday">
        </label>

        <button class="submit" type="button" onclick=formSubmit()>회원가입</button>
    </div>

    <div class="support">
        <button type="button" class="cancel-btn" onclick="location.href='/'">취소</button>
    </div>
</form>
</body>
</html>