<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/community_layout}">
<head>
    <title>글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/board/board.css}">
</head>
<div class="wrapper" layout:fragment="content">
    <div class="whole-scroll-section">
        <main class="container">
            <div class="board__header">
                <div class="header-elements">
                    <label>
                        <input type="text" class="board-title" id="js-title"
                               placeholder="제목을 입력하세요.">
                    </label>
                </div>
                <div class="header-elements">
                    <label>
                        <input type="text" class="board-description" id="js-description"
                               placeholder="설명을 입력하세요.">
                    </label>
                </div>
                <div class="header-elements">
                    <label>
                        <span class="name">카테고리</span>
                        <select class="select" id="js-categoryOption">
                            <option selected>카테고리 미선택</option>
                            <option th:each="category : ${sideBar.categories}"
                                    th:value="${category.name}"
                                    th:attr="data-category-id=${category.id}"
                                    th:unless="${category.type == 'CATEGORY_GROUP'}"
                                    th:text="${category.name}">카테고리
                            </option>
                        </select>
                    </label>
                </div>
                <div class="header-elements">
                    <label>
                        <span class="name">상태</span>
                        <select class="select" id="js-status">
                            <option selected value="READY">READY
                            </option>
                            <option value="PROCEED">PROCEED
                            </option>
                            <option value="COMPLETE">COMPLETE</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="mt-3">
                <div id="ck5-editor-toolbar"></div>
                <div class="ck5-editor-wrapper">
                    <div id="ck5-editor" class="ck5-editor"></div>
                </div>
            </div>
        </main>
    </div>
    <div class="app-footer flex-space-between flex-horizon-center">
        <div class="btn-wrapper-left">
            <button type="button" class="option-btn" onclick="moveToPreviousPage()">돌아가기</button>
        </div>
        <div class="btn-wrapper-right">
            <button type="button" class="option-btn js-content-temp-register">
                <a role="button" onclick="saveTemporarily()"><span>임시저장</span></a>
                <span>|</span>
                <a role="button" onclick="tempSaveModalToggle()"><span id="temp-save-count" th:text="${#lists.size(tempPosts)}">| 0</span></a>
            </button>
            <button type="button" class="highlight-btn js-content-register" onclick="registerPost()">발행</button>
        </div>
    </div>
    <div class="modal-portal" style="display: none">
        <div class="modal-dimmed">
            <div class="modal-layout">
                <div class="modal-inner">
                    <div class="modal-header">
                        <h3><b>임시저장</b></h3>
                    </div>
                    <div class="modal-body">
                        <div class="temp-save-wrapper">
                            <ul>
                                <li class="temp-save-element" th:each="tempPost: ${tempPosts}" th:id="${tempPost.id}">
                                    <span class="temp-save-date" th:text="${tempPost.updatedAt}">최근저장일</span>
                                    <span class="temp-save-title" th:text="${tempPost.title}">제목</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="button-wrapper">
                            <button class="highlight-btn" onclick="tempSaveModalToggle()">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/ckeditor5/build/ckeditor.js}"></script>
    <script th:src="@{/js/board/ck-editor5.js}"></script>
    <script th:src="@{/js/board/board-create.js}"></script>
</div>
</html>