<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <title th:text="${board.title}"></title>
    <link rel="stylesheet" th:href="@{/css/board/board.css}">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css"
          integrity="sha512-fxF1t7b0mpb/ytjBeSu/OpgXxCVcX5/O8AJGYvHaWmNfi/lYLtttitFK17K4iKBva4iU9dcZ+BIV7dyD/nDdSw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<div class="wrapper" layout:fragment="content">
    <div class="scroll-frame">
        <div class="scroll-section">
            <div class="container">
                <div class="board__header">
                    <div class="flex-end" th:if="${editable == true}">
                        <div class="">
                            <button type="button" class="simple-button board-delete" onclick="deleteBoard()">삭제</button>
                        </div>
                    </div>
                    <div class="header-elements">
                        <span class="board-title" th:text="${board.title}"></span>
                    </div>
                    <div class="header-elements">
                        <span class="board-description" th:text="${board.description}"></span>
                    </div>
                    <div class="header-elements">
                        <span class="name">카테고리</span>
                        <span th:text="${board.categoryName}"></span>
                    </div>
                    <div class="header-elements">
                        <span class="name">상태</span>
                        <span th:text="${board.status}"></span>
                    </div>
                    <div class="header-elements">
                        <span class="name mr-2">태그</span>
                        <div class="flex-horizon-center" th:each="tag : ${board.tags}">
                            <span class="tag" th:text="${tag}"></span>
                            <i class="pointer material-icons delete md-16 gray">delete</i>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div class="comments-header">
                        <b class="comment">댓글</b>
                        <span id="js-comment-num" th:text="${#lists.size(comments)}">0</span>
                        <button type="button" class="simple-button toggle-comment-btn" id="comment-toggle-btn">댓글 펼치기
                        </button>
                    </div>
                    <div id="comment-hide-area" class="comment-list" hidden>
                        <li th:each="comment : ${comments}" th:id="|comment_${comment.id}|" class="comment-item">
                            <div class="comment-area">
                                <div class="comment-nick-box" th:text="${comment.author}">nickname</div>
                                <div class="comment-text-box" th:text="${comment.body}">댓글</div>
                                <div class="comment-info-box">
                                    <span class="comment-info-date"
                                          th:text="${comment.lastUpdate}">2023.01.08 16:45</span>
                                </div>
                                <div class="comment-tool" th:if="${comment.mine == true}">
                                    <button type="button" class="js-comment-edit simple-button">수정</button>
                                    <button type="button" class="js-comment-del simple-button">삭제</button>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="comment-writer">
                        <div class="comment-inbox">
                            <div class="comment-inbox-name" th:text="${appHeader.userName}">사용자명</div>
                            <textarea class="comment-inbox-text" placeholder="댓글을 남겨보세요."></textarea>
                        </div>
                        <div class="comment-attach">
                            <div class="comment-register">
                                <button type="button" class="js-comment-add-btn simple-button">등록</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='editor' class="contents"></div>
            </div>
        </div>
    </div>
    <div class="app-footer flex-space-between flex-horizon-center" th:if="${editable == true}">
        <div class="btn-wrapper-left">
            <a type="button" class="option-btn" href="..">돌아가기</a>
        </div>
        <div class="btn-wrapper-right">
            <button type="button" class="option-btn">변경이력</button>
            <button type="button" class="highlight-btn" onclick="moveToEditPage()">편집</button>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"
            integrity="sha512-Yk47FuYNtuINE1w+t/KT4BQ7JaycTCcrvlSvdK/jry6Kcxqg5vN7/svVWCxZykVzzJHaxXk5T9jnFemZHSYgnw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:inline="javascript">
        const markdown = [[${board.content.markdown}]];
    </script>
    <script th:src="@{/js/board/toast-viewer.js}"></script>
</div>
</html>