<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/workspace_layout}">
<head>
    <title th:text="${board.title}"></title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css"
        integrity="sha512-fxF1t7b0mpb/ytjBeSu/OpgXxCVcX5/O8AJGYvHaWmNfi/lYLtttitFK17K4iKBva4iU9dcZ+BIV7dyD/nDdSw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>
<div class="wrapper" layout:fragment="content">
    <div class="scroll-section" style="width: 100%">
        <div class="container">
            <div class="board__header">
                <div class="flex-end">
                    <div>
                        <button type="button" class="simple-button">변경이력</button>
                        <button type="button" class="simple-button" onclick="deleteBoard()">삭제</button>
                    </div>
                </div>
                <div class="header-elements">
                    <label>
                        <input type="text" id="title"
                               placeholder="제목을 입력하세요."
                               th:value="${board.title}">
                    </label>
                </div>
                <div class="header-elements">
                    <label>
                        <input type="text" id="description"
                               placeholder="설명을 입력하세요."
                               th:value="${board.description}">
                    </label>
                </div>
                <div class="header-elements">
                    <label>
                        <span style="width: 100px">카테고리</span>
                        <select class="select" id="categoryOption">
                            <option th:selected="${board.categoryName == null}">카테고리 미선택</option>
                            <option th:each="category : ${sideBar.categories}"
                                    th:value="${category.categoryId}"
                                    th:text="${category.name}"
                                    th:selected="${category.name == board.categoryName}">카테고리
                            </option>
                        </select>
                    </label>
                </div>
                <div class="header-elements">
                    <label>
                        <span>상태</span>
                        <select class="select" id="status">
                            <option th:selected="${board.status == 'READY'}"
                                    value="READY">READY
                            </option>
                            <option th:selected="${board.status == 'PROCEED'}"
                                    value="PROCEED">PROCEED
                            </option>
                            <option th:selected="${board.status =='COMPLETE'}"
                                    value="COMPLETE">COMPLETE
                            </option>
                        </select>
                    </label>
                </div>
                <div class="header-elements">
                    <label id="tags" class="flex-horizon-center">
                        <span>태그</span>
                        <span class="flex-horizon-center" th:each="tag : ${board.tags}">
                        <input class="tag" th:id="|tag_${tag.id}|" th:value="|${tag.tag}|">
                        <i class="pointer material-icons delete md-16 gray">delete</i>
                    </span>
                        <input class="empty tag" placeholder="#태그 추가">
                    </label>
                </div>
            </div>
            <div id="editor" class="js-toast-editor contents"></div>
        </div>
    </div>
    <div class="app-footer flex-space-between flex-horizon-center">
        <div class="btn-wrapper-left">
            <button type="button" class="closeBtn" onclick="moveToPreviousPage()">돌아가기</button>
        </div>
        <div class="btn-wrapper-right">
            <button type="button" class="bg-white js-content-temp-register" onclick="saveTemporarily()">임시저장</button>
            <button type="button" class="save js-content-register" onclick="registerContent()">발행</button>
        </div>
    </div>
</div>
<div class="page-script" layout:fragment="script">
    <script th:src="@{/js/board/updateBoard.js}"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
    <script th:src="@{/js/board/toast-editor.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"
            integrity="sha512-Yk47FuYNtuINE1w+t/KT4BQ7JaycTCcrvlSvdK/jry6Kcxqg5vN7/svVWCxZykVzzJHaxXk5T9jnFemZHSYgnw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</div>
</html>