/* workspace */
@font-face {
    font-family: Azonix;
    src: url("../../fonts/Azonix.woff") format("woff");
}

p {
    margin: 0.4rem 0 !important;
}

blockquote {
    margin: 1rem 0 !important;
}

input:focus {
    outline: none;
}

button {
    border: none;
}

a {
    text-decoration: none !important;
    color: black !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style: none;
}

label {
    margin: 0 5px !important;
}

* {
    text-decoration: none;
    word-break: keep-all;
    box-sizing: border-box;
}

*, *:focus {
    outline: none !important;
}

.super-space-app {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
}

.super-space-contents {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}

.content-header {
    display: flex;
    flex-direction: column;
    padding: 0 12px 10px;
    border-bottom: 1px solid #b9bbbe;
}

.content-body {
    margin-top: 10px;
}

.element-area {
    margin-bottom: 20px;
}

.narrow-content-body {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.new-board {
    background: rgb(70 190 240);
    color: white;
    padding: 4px 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px 5px grey;
}

.scroll-section {
    width: 100%;
    max-height: 100%;
    overflow: auto;
}

.whole-scroll-section {
    width: 100%;
    max-height: calc(100vh - 130px);
    overflow: scroll;
}

.material-icons-outlined {
    cursor: pointer !important;
}

/* sidebar */
.super-space-app__sidebar {
    overflow: hidden;
    height: 100vh;
    background-color: rgb(250 248 254);
    transition: width 0.3s ease-out, opacity 0.3s ease, visibility 0.3s ease;
}

.super-space-app__sidebar.open {
    display: block;
    visibility: visible;
    opacity: 1;
    width: 280px;
}

.super-space-app__sidebar.closed {
    visibility: hidden;
    opacity: 0;
    width: 0;
}

.sidebar-inner {
    position: relative;
    width: 280px;
    max-height: calc(100%);
    padding: 10px 15px;
    transition: transform 0.3s;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-menu-scroll {
    overflow: hidden scroll;
    margin-top: 15px;
}

.conmoto-logo {
    height: 35px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.sidebar-header i {
    cursor: pointer;
}

.sidebar-section {
    display: flex;
    flex-flow: column;
    justify-content: left;
}

.sidebar-section .items {
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}

#logo {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.profile {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.profile-thumbnail {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 100%;
}

.profile-thumbnail-img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.profile-detail {
    display: flex;
    flex-direction: column;
}

.profile-detail span:first-child {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.profile-detail span {
    font-size: 0.8rem;
    color: gray;
}

.info {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.info-menu {
    display: flex;
    justify-content: space-evenly;
}

.group-manage {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.group-manage a {
    display: block;
    width: 90%;
    text-align: center;
}

.group-list {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.group-menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.group-menu a {
    width: 90%;
    text-align: center
}

.group-menu-button {
    cursor: pointer;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 3px;
    background-color: white;
    box-shadow: rgb(15 15 15 / 5%) 0 1px 2px;
}

.sidebar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
}

.pointer-hover:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 7%);
    border-radius: 5px;
}

.sidebar-elements.pointer-hover span {
    width: 100%;
}

#sidebar__fold {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    color: #80808099;
    opacity: 0;
}

.sidebar-mobile-dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.favorite-category {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.category {
    margin-top: 15px;
}

.sidebar-go-top {
    display: none;
    justify-content: center;
    margin-top: 10px;
}

.sidebar-go-top .group-menu-button {
    width: 90%;
    text-align: center;
}

#category-container > span {
    padding-top: 5px;
    color: gray;
    font-size: 0.8rem;
}

.default-category {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.sidebar-category-group-wrapper {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.sidebar-category-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-category-group span {
    font-weight: 500;
}

/*모바일*/
@media (max-width: 768px) {
    .mobile-sidebar {
        position: fixed;
        z-index: 1000;
    }

    .sidebar-mobile-dimmed {
        background: rgba(0, 0, 0, 0.4);
    }

    .super-space-app__sidebar {
        display: none;
        position: fixed;
        z-index: 9999;
    }

    .sidebar-inner {
        width: 280px;
    }

    .sidebar-expand {
        display: inline-block !important;
    }

    .header-box {
        height: 45px;
    }

    .narrow-content-body {
        margin-left: 0;
        margin-right: 0;
    }
}

/* header */
.app-header {
    width: 100%;
}

.header-box {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    padding: 0 12px;
}

.header-left {
    display: flex;
    align-items: center;
}

.sidebar-expand {
    display: none;
    margin-right: 5px;
}

.group-name {
    padding: 5px 8px;
}


.group-name:not(.anonymous):hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 7%);
    border-radius: 5px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-noty {
    display: flex;
    align-items: center;
    padding: 5px 8px;
}

.header-noty:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 7%);
    border-radius: 5px;
}

.user-name {
    display: inline-flex;
}

.noty-count {
    color: white;
    background-color: #e4606d;
    border-radius: 15px;
    padding: 0 7px;
    text-align: center;
    height: 24px;
}

#noty-dialog {
    width: 100%;
}

.sidebar__expand {
    display: none;
    margin-right: 5px;
    cursor: pointer;
}

.custom-modal {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 9999;
    width: calc(95%);
    max-width: 450px;
    max-height: 90%;
}

.custom-modal.wide-style {
    max-width: 900px;
    height: 100%;
}

.custom-dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.custom-modal-wrapper {
    width: 100%;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 30%);
    border-radius: 5px;
    background: white;
    overflow: hidden scroll;
}

.custom-modal-inner {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.custom-modal-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.custom-modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.custom-modal-main-elem {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.custom-modal-elem-wrapper {
    width: 100%;
}

.custom-modal-main-elem-title {
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: 0.8rem;
    color: gray;
}

.custom-modal-main-elem > span {
    padding-right: 10px;
}

.custom-modal-select {
    width: calc(50%);
    height: 30px;
}

.user-name-wrapper {
    display: flex;
    position: relative;
    padding: 5px 8px;
}

.user-name-wrapper:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 7%);
    border-radius: 5px;
}

.user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-float-wrapper {
    display: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 10%);
    border-radius: 5px;
    right: 12px;
    top: 57px;
    background: white;
    z-index: 1000;
    box-shadow: 0 2px 2px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
}

.user-float-inner {
    padding: 10px 0;
}

.user-float-menu {
    padding: 0 30px;
    margin: 2px 0;
}

.user-float-menu:hover {
    cursor: pointer;
    background-color: rgb(243, 238, 253);
}

.bb {
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.custom-input-label {
    color: gray;
    font-size: 0.8rem;
    font-weight: bold;
}

.manage-menu-button {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: rgb(15 15 15 / 5%) 0 2px 2px;
}

.manage-menu-button.default {
    color: black;
    background: white;
    border: 1px solid rgba(15, 15, 15, 0.15);
}

.manage-menu-button.warn {
    background-color: #ffabab33;
    border: 1px solid #ff9b9b;
    color: #f96a6a;
}

.favorite-color {
    color: #9f6bff;
    font-size: 1.3rem;
}

.custom-noty-modal {
    position: fixed;
    top: 57px;
    right: 60px;
    z-index: 9999;
    width: calc(95%);
    max-width: 450px;
    max-height: 90%;
}

@media (max-width: 768px) {
    .custom-noty-modal {
        right: 50%;
        transform: translateX(50%);
    }
}

.js-noty-empty {
    text-align: center;
}