<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/workspace_layout}">
<head>
    <meta charset="UTF-8">
    <title th:title="${categoryName}">Title</title>
    <style>
        .board {
            border: 1px solid;
            margin: 3px;
        }
    </style>
</head>
<div layout:fragment="content">
    <div class="board" th:each="board: ${boards}">
        <p th:text="${board.title}">제목</p>
        <p>설명</p>
        <p>태그</p>
    </div>
    <div class="board">
        <p>제목</p>
        <p>설명</p>
        <p>태그</p>
    </div>
</div>
<script>

</script>
</html>