<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원탈퇴</title>
</head>
<body>
<div>
    <p>정말로 그룹을 삭제하시겠습니까?</p>
    <p>다음 아래의 사항을 확인해주세요.</p>
    <ul>
        <li>멤버가 본인 외 타인이 있을 경우 삭제가 불가능합니다.</li>
        <li>그룹 삭제 시 카테고리, 게시글 등 관련 데이터도 모두 삭제됩니다.</li>
        <li>확인 버튼 클릭 시 바로 삭제되며, 복구가 불가능합니다.</li>
    </ul>
    <p id="today"></p>
    <label>
        <span>동의합니다.</span>
        <input id="agree" type="checkbox">
    </label>
    <button type="button" onclick="resignReq()">확인</button>
</div>
</body>
<script>
    const baseUrl = "http://" + window.location.host;

    const today = new Date();
    document.getElementById("today").innerHTML =
        today.getFullYear() + "년 " +
        (today.getMonth() + 1) + "월 " +
        today.getDate() + "일";

    async function resignReq() {
        if (!this.agree.checked) {
            alert("동의란에 체크해주세요.")
            return;
        }

        const requestParam = new URLSearchParams(window.location.search).get("groupUrl");
        const url = baseUrl + "/api/group?groupUrl=" + requestParam;

        await fetch(url, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            },
            mode: "cors"
        })
            .then((data) => {
                alert(data);
                window.location.href = "/workspace";
            })
    }

    function isChecked() {
        return this.agree.value;
    }

</script>
</html>